In [38]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import StandardScaler,LabelEncoder

In [2]:
df=pd.read_csv('anime.csv')
df

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
...,...,...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211
12290,5543,Under World,Hentai,OVA,1,4.28,183
12291,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

In [3]:
df.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [4]:
df.shape

(12294, 7)

In [6]:
len(df.anime_id.unique())

12294

In [23]:
len(df.genre.unique())

3265

In [7]:
len(df.rating.unique())

599

In [16]:
df.groupby('genre')['rating'].mean().sort_values(ascending=False).head()

genre
Action, Adventure, Drama, Fantasy, Magic, Military, Shounen    9.26
Drama, Fantasy, Romance, Slice of Life, Supernatural           9.06
Drama, School, Shounen                                         9.05
Action, Drama, Mecha, Military, Sci-Fi, Super Power            8.98
Adventure, Drama, Supernatural                                 8.93
Name: rating, dtype: float64

In [21]:
df.groupby('genre')['rating'].count().sort_values(ascending=False).head()

genre
Hentai                   816
Comedy                   521
Music                    297
Kids                     197
Comedy, Slice of Life    174
Name: rating, dtype: int64

In [61]:
df=df.dropna()
df

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,2686,0,-0.824337,2.820773,2.126317
1,5114,Fullmetal Alchemist: Brotherhood,161,5,1.814525,2.713634,2.229340
2,28977,Gintama°,534,5,1.545253,2.703894,2.002981
3,9253,Steins;Gate,3240,5,0.683584,2.625975,2.227405
4,9969,Gintama&#039;,534,5,1.545253,2.616235,2.069728
...,...,...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,2903,3,-0.824337,-2.263459,-0.916955
12290,5543,Under World,2903,3,-0.824337,-2.136840,-0.930498
12291,5621,Violence Gekiga David no Hoshi,2903,3,1.293933,-1.552446,-0.913086
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,2903,3,-0.824337,-1.455046,-0.934368
12293,26081,Yasuji no Pornorama: Yacchimae!!,2903,0,-0.824337,-0.987531,-0.950329

In [40]:
df[df.duplicated()]

Empty DataFrame
Columns: [anime_id, name, genre, type, episodes, rating, members]
Index: []

In [39]:
label_encoder=LabelEncoder()
df['type']=label_encoder.fit_transform(df['type'])
df

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",0,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",5,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",5,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",5,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",5,51,9.16,151266
...,...,...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,3,1,4.15,211
12290,5543,Under World,Hentai,3,1,4.28,183
12291,5621,Violence Gekiga David no Hoshi,Hentai,3,4,4.88,219
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,3,1,4.98,175
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,0,1,5.46,142

In [41]:
df['genre']=label_encoder.fit_transform(df['genre'])
df

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,2686,0,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,161,5,64,9.26,793665
2,28977,Gintama°,534,5,51,9.25,114262
3,9253,Steins;Gate,3240,5,24,9.17,673572
4,9969,Gintama&#039;,534,5,51,9.16,151266
...,...,...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,2903,3,1,4.15,211
12290,5543,Under World,2903,3,1,4.28,183
12291,5621,Violence Gekiga David no Hoshi,2903,3,4,4.88,219
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,2903,3,1,4.98,175
12293,26081,Yasuji no Pornorama: Yacchimae!!,2903,0,1,5.46,142

In [42]:
df['members']=label_encoder.fit_transform(df['members'])
df

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,2686,0,1,9.37,6489
1,5114,Fullmetal Alchemist: Brotherhood,161,5,64,9.26,6702
2,28977,Gintama°,534,5,51,9.25,6234
3,9253,Steins;Gate,3240,5,24,9.17,6698
4,9969,Gintama&#039;,534,5,51,9.16,6372
...,...,...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,2903,3,1,4.15,197
12290,5543,Under World,2903,3,1,4.28,169
12291,5621,Violence Gekiga David no Hoshi,2903,3,4,4.88,205
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,2903,3,1,4.98,161
12293,26081,Yasuji no Pornorama: Yacchimae!!,2903,0,1,5.46,128

In [43]:
df['episodes']=label_encoder.fit_transform(df['episodes'])
df

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,2686,0,0,9.37,6489
1,5114,Fullmetal Alchemist: Brotherhood,161,5,147,9.26,6702
2,28977,Gintama°,534,5,132,9.25,6234
3,9253,Steins;Gate,3240,5,84,9.17,6698
4,9969,Gintama&#039;,534,5,132,9.16,6372
...,...,...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,2903,3,0,4.15,197
12290,5543,Under World,2903,3,0,4.28,169
12291,5621,Violence Gekiga David no Hoshi,2903,3,118,4.88,205
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,2903,3,0,4.98,161
12293,26081,Yasuji no Pornorama: Yacchimae!!,2903,0,0,5.46,128

In [44]:
scaler = StandardScaler()
df[['episodes', 'rating', 'members']] = scaler.fit_transform(df[['episodes', 'rating', 'members']])
df

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,2686,0,-0.824337,2.820773,2.126317
1,5114,Fullmetal Alchemist: Brotherhood,161,5,1.814525,2.713634,2.229340
2,28977,Gintama°,534,5,1.545253,2.703894,2.002981
3,9253,Steins;Gate,3240,5,0.683584,2.625975,2.227405
4,9969,Gintama&#039;,534,5,1.545253,2.616235,2.069728
...,...,...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,2903,3,-0.824337,-2.263459,-0.916955
12290,5543,Under World,2903,3,-0.824337,-2.136840,-0.930498
12291,5621,Violence Gekiga David no Hoshi,2903,3,1.293933,-1.552446,-0.913086
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,2903,3,-0.824337,-1.455046,-0.934368
12293,26081,Yasuji no Pornorama: Yacchimae!!,2903,0,-0.824337,-0.987531,-0.950329

In [63]:
features=['episodes','rating','members','type','genre']
df_features=df[features]

In [64]:
df_1=df.pivot_table(index='anime_id',columns='genre',values='rating')
df_1

genre,0,1,2,3,4,5,6,7,8,9,...,3255,3256,3257,3258,3259,3260,3261,3262,3263,3264
anime_id,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34476,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34503,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34514,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34519,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
df_2=df_1.fillna(0,axis=1)
df_2

genre,0,1,2,3,4,5,6,7,8,9,...,3255,3256,3257,3258,3259,3260,3261,3262,3263,3264
anime_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34476,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34490,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34503,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34514,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34519,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# cosine similarity

In [66]:
cosine_sim=cosine_similarity(df_features,df_features)
cosine_sim

array([[1.        , 0.99924154, 0.99993862, ..., 0.99999731, 0.99999764,
        0.99999841],
       [0.99924154, 1.        , 0.99960974, ..., 0.99924017, 0.99923249,
        0.99920366],
       [0.99993862, 0.99960974, 1.        , ..., 0.99993838, 0.99993649,
        0.99992821],
       ...,
       [0.99999731, 0.99924017, 0.99993838, ..., 1.        , 0.99999973,
        0.99999918],
       [0.99999764, 0.99923249, 0.99993649, ..., 0.99999973, 1.        ,
        0.99999945],
       [0.99999841, 0.99920366, 0.99992821, ..., 0.99999918, 0.99999945,
        1.        ]])

In [67]:
#user1 id 0 have similarity with user 3455
df_new.idxmax()[0:10]

0    3455
1       0
2    1917
3       0
4     576
5     900
6       0
7       0
8     162
9       0
dtype: int64

In [73]:
df[(df.anime_id==6)|(df.anime_id==900)]

,anime_id,name,genre,type,episodes,rating,members
214,6,Trigun,638,5,0.755390,1.798083,2.173234
2874,900,Dragon Ball Z Movie 07: Kyokugen Battle!! Sand...,1315,0,-0.824337,0.648774,1.710842

In [54]:
#Euclidean Distance
from sklearn.metrics import pairwise_distances

In [55]:
pairwise_distances(df_2,metric='euclidean')

array([[0.        , 2.95651242, 2.90769389, ..., 3.76634178, 2.39491205,
        2.41550408],
       [2.95651242, 0.        , 2.59855444, ..., 3.53314758, 2.00833392,
        2.03284563],
       [2.90769389, 2.59855444, 0.        , ..., 3.49239886, 1.93574873,
        1.96116786],
       ...,
       [3.76634178, 3.53314758, 3.49239886, ..., 0.        , 3.07859867,
        2.2109591 ],
       [2.39491205, 2.00833392, 1.93574873, ..., 3.07859867, 0.        ,
        1.06164936],
       [2.41550408, 2.03284563, 1.96116786, ..., 2.2109591 , 1.06164936,
        0.        ]])

In [87]:
def get_recommendations(anime_title, top_n=5):
    anime_index = df[df['title'] == anime_title].index[0]
    sim_scores = list(enumerate(cosine_sim[anime_index]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:top_n+1]
    anime_indices = [i[0] for i in sim_scores]
    return anime_data.iloc[anime_indices]['title'].tolist()